{{ if (eq .chezmoi.os "linux") -}}
{{ if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
#!/bin/bash

set -eufo pipefail

repositories=()
packages=(
	curl
	vim
)
snaps=()
classic_snaps=()

{{ if (and (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.versionCodename "bionic")) }}
classic_snaps+=(
	ripgrep
)
{{ else }}
packages+=(
	ripgrep
)
{{ end }}

{{ if (not .headless) }}
packages+=(
	vim-gtk
)
classic_snaps+=(
	code
)
{{ end }}

{{ if (not .ephemeral) }}
{{  if (not (eq .chezmoi.hostname "runtime1")) }}
{{   if (and (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.versionCodename "groovy")) }}
classic_snaps+=(
	go
)
{{    else if (not (eq .chezmoi.osRelease.id "raspbian")) }}
repositories+=(
	ppa:longsleep/golang-backports
)
packages+=(
	golang-go
)
{{   end }}
{{  end }}
packages+=(
	direnv
	git-lfs
	jq
	units
	zsh
)
{{ end }}

{{  if .personal }}
snaps+=(
	hugo
)
classic_snaps+=(
	goreleaser
)
{{ end }}

{{ if .work }}
packages+=(
	build-essential
	clang
	libelf-dev
	llvm
	protobuf-compiler
	python3-pip
	vagrant
	virtualbox
)
{{ end }}

for repository in ${repositories[@]}; do
	sudo add-apt-repository -y $repository
done

sudo apt update

sudo apt install -y ${packages[@]}

{{ if (eq .chezmoi.osRelease.id "ubuntu") }}
for snap in ${snaps[@]}; do
	sudo snap install $snap
done

for classic_snap in ${classic_snaps[@]}; do
	sudo snap install $classic_snap --classic
done
{{ end }}

{{ if (and (eq .chezmoi.arch "amd64") (not .headless) (not .ephemeral)) }}
trap "rm -rf google-chrome-stable_current_amd64.deb" EXIT
wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
sudo apt install ./google-chrome-stable_current_amd64.deb
{{ end }}

{{ if .work }}
go install github.com/onsi/ginkgo/ginkgo@latest
{{ end }}

{{ end -}}
{{ end -}}
